<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Product Page</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="style.css" />
    
        <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    
        <link rel="stylesheet" href="carts.css" />
    
        <style>
          ion-icon {
            font-size: 30px;
          }
        </style>
      </head>

<body>
    <!--- Sidepanel Devon Wang-->
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="Food.html">Food</a>
        <a href="Electronics.html">Electronics</a>
        <a href="Health.html">Health</a>
    </div>


    <!-- Jiahao Zhang-->
    <div class="Main-Website">
        <header class="rows">
          <div>
            <!--- Sidepanel Devon Wang -->
            <button class="openbtn" onclick="openNav()">&#9776;</button>
  
            <a href="index.html">Tropical Shirt</a>
          </div>
  
          <!--- Shopping Cart button and Catalog Button -->
          <div>
            <a class="openbtn" href="Shopping_Cart.html">
              <!--- Shopping Cart Number -->
              <ion-icon name="cart-outline"></ion-icon><span>0</span> </a
            >&nbsp&nbsp &nbsp&nbsp
  
            <a href="Catalog.html">Catalog</a> &nbsp&nbsp &nbsp&nbsp
            <a href="Login.html">Login</a>
          </div>
        </header>
      </div>

    <!--- top naviagtion/search bar Devon Wang-->
    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <input type="text" placeholder="Search..">
    </div>

    <section class="container content-section">
        <div class="shop-items">
          <div class="shop-item">
            <span class="shop-item-title">Lemon</span>
            <img class="shop-item-image" src="Lemon.jpg" />
            <div class="shop-item-details">
              <span class="shop-item-price">$12</span>
              <button class="btn btn-primary shop-item-button" type="button">
                ADD TO CART
              </button>
            </div>
          </div>
        </div>
      </section>

</body>

<!--- Sidepanel  Devon Wang-->
<script>
    /* Set the width of the sidebar to 250px (show it) */
    function openNav() {
      document.getElementById("mySidepanel").style.width = "250px";
    }
    /* Set the width of the sidebar to 0 (hide it) */
    function closeNav() {
      document.getElementById("mySidepanel").style.width = "0";
    }
  </script>

<script src="shoppin.js"></script>

</html>