<!DOCTYPE html>

<html>
     <!--- Main Page  Jiahao Zhang-->
    <head>
        <link rel ="stylesheet" href = "style.css"> 

        <title>Tropical Shirt</title>
    </head>

    <body>
             
        <!-- Jiahao Zhang-->
        <div class = "Main-Website">


            <header class = "rows">

              


                <div>
                    <a href= "main.html">Tropical Shirt</a>
                </div>


                <!--- Shopping Cart button and Catalog Button -->
                <div >
                    <!-- Devon Wang-->
                    <a href = "Shopping_Cart.html">Shopping Cart</a>&nbsp&nbsp &nbsp&nbsp

                </div>

            </header>
        </div>

                <!-- Background Pictures  Jiahao Zhang-->
        <div class = "Background-Pictures">
            <img src= "under.jpg" >
        </div>

        <div class = "Background-Pictures">
            <img src= "under.jpg" >
        </div>

    </body>


    
</html>
