/*
any changes you want to do, please contact devon wang
想做修改，联系狗熊
*/

/* product page css*/
.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}


/* add to cart button css*/
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: #2D9CDB;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #d32020;
}



/* product information css*/
.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*car page design css*/
.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 1.3rem;
}

.uselesscontainer,
.products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;;
}


.products-container ion-icon{
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.cart-title{
    width: 45%;
}

.cart-price{
    width: 15%;
    display: flex;
    align-items: center; 
    border-bottom: 1px solid lightgray;
}

.cart-quantity{
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.cart-total{
    width: 10%;
    
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.product{
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
    font-size: 1.2rem;
}


.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img{
    width: 80px;
}

.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

basketTotalTitle{
    width: 30px;
}

.removes{
    cursor: pointer;
}

.removes:hover{
    background-color: #d32020;
}


