<!DOCTYPE html> 

<!-- Zhijie Xu-->
<html>
    <head>
        <title> Electronics Department Page</title>
    </head>

    <body>
        
        <div id="container" style="font-size:18px ;line-height:30px; padding-left: 150px;" class="Sample Product on welcome page">

            <center><img src="macbookpro.jpg" width="40%" height="40%"></center>
            <center>Macbook Pro</center>
            <center style="padding-bottom:100px;">Price: $1800 </center>
            
            <center><img src="macbookair.jpg" width="40%" height="40%"></center>
            <center>Macbook Air </center>
            <center style="padding-bottom: 100px;">Price: $1200 </center>

            <center><img src="airpods.jpg" width="40%" height="40%"></center>
            <center> Airpods Pro </center>
            <center style="padding-bottom: 100px;">Price: $300 </center>

            <center><img src="microsoftx.jpg" width="40%" height="40%"></center>
            <center> Surface Pro X </center>
            <center style="padding-bottom: 100px;">Price: $980 </center>


            <center><img src="beats.jpg" width="40%" height="40%"></center>
            <center> Beats Wireless headphone  </center>
            <center style="padding-bottom: 100px;">Price: $290 </center>


            <center><img src="12.jpg" width="40%" height="40%"></center>
            <center> IPHONE 12  </center>
            <center style="padding-bottom: 100px;">Price: $800 </center>


            <center><img src="ipadpro.jpg" width="40%" height="40%"></center>
            <center> IPAD Pro </center>
            <center style="padding-bottom: 100px;"> Price: $1000 </center>
    
        </div>
    </body>
</html>
