<!DOCTYPE html> 

<html>
    <head>
        <title> Food Department Page</title>
    </head>

    <body>
         
        <div id="container" style="font-size:18px ;line-height:30px; padding-left: 150px;" class="Sample Product on welcome page">

            <center><img src="apple.jpg" width="40%" height="40%"></center>
            <center><br><a a href="apple.html">Apple</a><br></center>
            <center style="padding-bottom:100px;">Price: $10 </center>
          
            
            <center><img src="Lemon.jpg" width="40%" height="40%"></center>
            <center><br><a a href="lemon.html">Lemon</a><br></center>
            <center style="padding-bottom: 100px;">Price: $12 </center>

            <center><img src="banana.jpg" width="40%" height="40%"></center>
            <center><br><a a href="banana.html">Banana</a><br></center>
            <center style="padding-bottom: 100px;">Price: $3 </center>

            <center><img src="watermelon.jpg" width="40%" height="40%"></center>
            <center><br><a a href="watermelon.html">Watermelon</a><br></center>
            <center style="padding-bottom: 100px;">Price: $10 </center>


            <center><img src="peach.jpg" width="40%" height="40%"></center>
            <center><br><a a href="peach.html">Peach</a><br></center>
            <center style="padding-bottom: 100px;">Price: $2 </center>


            <center><img src="tomato.jpg" width="40%" height="40%"></center>
            <center><br><a a href="tomato.html">Tomato</a><br></center>
            <center style="padding-bottom: 100px;">Price: $8 </center>


            <center><img src="corn.jpg" width="40%" height="40%"></center>
            <center><br><a a href="corn.html">Corn</a><br></center>
            <center style="padding-bottom: 100px;"> Price: $10 </center>
    
        </div>
    </body>
</html>