<!DOCTYPE html>
<html lang="en">


    <!--- Sidepanel Devon Wang-->
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="Food.html">Food</a>
        <a href="Electronics.html">Electronics</a>
        <a href="Health.html">Health</a>
    </div>


    <!-- Jiahao Zhang-->
    <div class="Main-Website">
        <header class="rows">


    <!--- top naviagtion/search bar Devon Wang-->
    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <input type="text" placeholder="Search..">
    </div>



</body>

<!--- Sidepanel  Devon Wang-->
<script>
    /* Set the width of the sidebar to 250px (show it) */
    function openNav() {

