<!DOCTYPE html> 

<html>
    <head>
        <title> Health Department Page</title>
    </head>

    <body>
         
        <div id="container" style="font-size:18px ;line-height:30px; padding-left: 150px;" class="Sample Product on welcome page">

            <center><img src="Herbal_Plus.jpg" width="40%" height="40%"></center>
            <center>GNC Herbal_Plus</center>
            <center style="padding-bottom:100px;">Price: $18 </center>
            
            <center><img src="Women.jpg" width="40%" height="40%"></center>
            <center>Macbook Air </center>
            <center style="padding-bottom: 100px;">Price: $12 </center>

            <center><img src="Mass.jpg" width="40%" height="40%"></center>
            <center> Mass XX </center>
            <center style="padding-bottom: 100px;">Price: $30 </center>

            <center><img src="fishoil.jpg" width="40%" height="40%"></center>
            <center> Fish Oil </center>
            <center style="padding-bottom: 100px;">Price: $9 </center>


            <center><img src="Mega.jpg" width="40%" height="40%"></center>
            <center> Mega Men </center>
            <center style="padding-bottom: 100px;">Price: $29 </center>


            <center><img src="tri.jpg" width="40%" height="40%"></center>
            <center> Tri Flex  </center>
            <center style="padding-bottom: 100px;">Price: $12 </center>


            <center><img src="womenmega.jpg" width="40%" height="40%"></center>
            <center> Women Mega </center>
            <center style="padding-bottom: 100px;"> Price: $20 </center>
    
        </div>
    </body>
</html>

