<!DOCTYPE html>

<html>
<!--- Main Page  Jiahao Zhang-->

<head>
    <link rel="stylesheet" href="style.css">

    <title>Tropical Shirt</title>
</head>

<body>

    <!--- Sidepanel Devon Wang-->
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="Food.html">Food</a>
        <a href="Electronics.html">Electronics</a>
        <a href="Health.html">Health</a>
    </div>


    <!-- Jiahao Zhang-->
    <div class="Main-Website">
        <header class="rows">
            <div>
                <!--- Sidepanel Devon Wang -->
                <button class="openbtn" onclick="openNav()">&#9776;</button>

                <a href="index.html">Tropical Shirt</a>
            </div>

            <!--- Shopping Cart button and Catalog Button -->
            <div>
                <a href="Order History.html">Order History</a>&nbsp&nbsp &nbsp&nbsp
                <a href="Shopping_Cart.html">Shopping Cart</a>&nbsp&nbsp &nbsp&nbsp
                <!-- Jiahao Zhang-->
                <a href="Catalog.html">Catalog</a> &nbsp&nbsp &nbsp&nbsp
                <a href="Login.html">Login</a>
            </div>
        </header>
    </div>

    <!--Yinxia Chen, Shopping cart sidewindow
    <div class = "shopping-cart">
        <button
        id = "Cart"
        class = "cart"
        onclick = "openCart()"
        style = "background: url(shopping-cart.png) no-repeat; background-size: 100%; background-color: red; ">
        </button>
        <div id = "shopping_cart_popup" class = "sc-popup">
          
        </div>
    </div>
    -->
    
    <!--- top naviagtion/search bar Devon Wang-->
    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <input type="text" placeholder="Search..">
    </div>



    <!-- popular products on welcome page #26 Xueping Leng-->
    <table id="containers" class="popproduct" cellspacing="45px">
        <tr>
            <td>


                <img src="Sample.jpg" width="300px" height="300px"><br><a a href="Sample.html">LI-NING Hoodie White</a><br> Price: $100


            </td>
            <td>
                <br><br><br><br>
                <img src="airpods.jpg" width="150px" height="150px"><br><br><a href="airpods.html">Apple Airpods Pro White</a><br> Price: $199



            </td>
            <td>

                <br><br><br> <br>
                <img src="nike.jpg" width="300px" height="150px"><br><br> <a href="nike.html">Nike ZoomX Invincible Run Flyknit</a> <br> Price: $180


            </td>
            <td>
                <br><br>
                <img src="iPad.jpg" width="175px" height="210px"><br><br> <a href="iPad.html"> Apple iPad(10.2inch, 128GB) Space Gray</a> <br> Price: $399
            </td>
        </tr>
    </table>

    <table id="containers" class="popproduct" cellspacing="45px">
        <tr>
            <td>
                <img src="XboxGiftCard.jpg" width="200px" height="300px"><br><br><a href="XboxGiftCard.html"> $10 Xbox Gift Card [Digital Code]</a><br> Price: $10
            </td>

            <td>
                <img src="HDMICable.jpg" width="300px" height="300px"><br> <br><a href="HDMICable.html">PowerBear 4K HDMI Cable 10ft</a><br> Price: $10
            </td>

            <td>
                <img src="Kindle.jpg" width="300px" height="300px"><br><br><a href="Kindle.html">Kindle Paperwhite</a><br> Price: $130
            </td>

            <td>

                <img src="iphoneXR.jpg" width="350px" height="300px"><br><br> <a href="iphoneXR.html"> Apple iphone XR (128GB, Black)</a><br> Price: $549
            </td>

        </tr>
    </table>
</body>




<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<!--- Sidepanel  Devon Wang-->
<script>
    /* Set the width of the sidebar to 250px (show it) */
    function openNav() {
        document.getElementById("mySidepanel").style.width = "250px";
    }
    /* Set the width of the sidebar to 0 (hide it) */
    function closeNav() {
        document.getElementById("mySidepanel").style.width = "0";

        }

        

        /*pop out the shopping-cart window
        function openCart(){
        document.getElementById("Cart").style.right = "400px";   
        document.getElementById("shopping_cart_popup").style.width = "400px";
        document.getElementById("shopping_cart_popup").style.borderLeft = "2px solid red";
        document.getElementById("shopping_cart_popup").style.borderTop = "10px solid red";
        document.getElementById("shopping_cart_popup").style.borderBottom = "10px solid red";
        document.getElementById("shopping_cart_popup").style.backgroundColor = "white";
        $("#Cart").attr("onclick", "closeCart()")
        }
        function closeCart(){
        document.getElementById("Cart").style.right = "0";
        document.getElementById("shopping_cart_popup").style.width = "0";
        document.getElementById("shopping_cart_popup").style.borderLeft = "1px solid rgba(0,0,0,0)";
        document.getElementById("shopping_cart_popup").style.borderTop = "1px solid rgba(0,0,0,0)";
        document.getElementById("shopping_cart_popup").style.borderBottom = "1px solid rgba(0,0,0,0)";
        document.getElementById("shopping_cart_popup").style.backgroundColor = "rgba(0,0,0,0)";
        $("#Cart").attr("onclick", "openCart()")
        }
        */
        
    </script>
    


</html>