<!DOCTYPE html>

<html>
<!--- Main Page  Jiahao Zhang-->

<head>
    <link rel="stylesheet" href="style.css">

    <title>Tropical Shirt</title>
</head>

<body>

    <!--- Sidepanel Devon Wang-->
        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="Food.html">Food</a>
            <a href="Electronics.html">Electronics</a>
            <a href="Health.html">Health</a>
          </div>
       

    <!-- Jiahao Zhang-->
    <div class="Main-Website">
        <header class="rows">
            <div>
                <!--- Sidepanel Devon Wang -->
                    <button class="openbtn" onclick="openNav()">&#9776;</button>
                   
                <a href="index.html">Tropical Shirt</a>
            </div>

            <!--- Shopping Cart button and Catalog Button -->
            <div>
                <a href="Order History.html">Order History</a>&nbsp&nbsp &nbsp&nbsp
                <a href="Shopping_Cart.html">Shopping Cart</a>&nbsp&nbsp &nbsp&nbsp
                <!-- Jiahao Zhang-->
                <a href="Catalog.html">Catalog</a> &nbsp&nbsp &nbsp&nbsp
                <a href="Login.html">Login</a>
            </div>
        </header>
    </div>




    <!--- top naviagtion/search bar Devon Wang-->
    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <input type="text" placeholder="Search..">
    </div>




    <!-- popular products on welcome page #26 Xueping Leng-->
    <table id="container" cellspacing="45px">
        <tr>
            <td>


                <img src="Sample.jpg" width="300px" height="300px"><br> LI-NING - Hoodie - White<br> Price: $100


            </td>
            <td>
                <br><br><br><br>
                <img src="airpods.jpg" width="150px" height="150px"><br><br>Apple - AirPods Pro - White<br> Price: $199



            </td>
            <td>

                <br><br><br> <br>
                <img src="nike.jpg" width="300px" height="150px"><br><br> Nike ZoomX Invincible Run Flyknit <br> Price: $180


            </td>
            <td>
                <br><br>
                <img src="iPad.jpg" width="175px" height="210px"><br><br> Apple iPad(10.2-inch,128GB) Space Gray <br> Price: $399
            </td>
        </tr>
    </table>

    <table id="container" cellspacing="45px">
        <tr>
            <td>
                <img src="XboxGiftCard.jpg" width="200px" height="300px"><br><br> $10 Xbox Gift Card [Digital Code]<br> Price: $10
            </td>

            <td>
                <img src="HDMICable.jpg" width="300px" height="300px"><br> <br>PowerBear 4K HDMI Cable 10 ft<br> Price: $9.99
            </td>

            <td>
                <img src="Kindle.jpg" width="300px" height="300px"><br><br> Kindle Paperwhite<br> Price: $129.99
            </td>

            <td>

                <img src="iphoneXR.jpg" width="350px" height="300px"><br><br> Apple iPhone XR (128GB, Black)<br> Price: $549
            </td>

        </tr>
    </table>

</body>


<!--- Sidepanel  Devon Wang-->
    <script>
        /* Set the width of the sidebar to 250px (show it) */
        function openNav() {
        document.getElementById("mySidepanel").style.width = "250px";
        }
        /* Set the width of the sidebar to 0 (hide it) */
        function closeNav() {
        document.getElementById("mySidepanel").style.width = "0";
        }
    </script>
    


</html>