<!DOCTYPE html>

<html>
<!--- Main Page  Jiahao Zhang-->

<head>
    <link rel="stylesheet" href="style.css">

    <title>Tropical Shirt</title>
</head>

<body>

    <!-- Jiahao Zhang-->
    <div class="Main-Website">


        <header class="rows">




            <div>
                <a href="index.html">Tropical Shirt</a>
            </div>


            <!--- Shopping Cart button and Catalog Button -->
            <div>
                <a href="Shopping_Cart.html">Shopping Cart</a>&nbsp&nbsp &nbsp&nbsp
                <!-- Jiahao Zhang-->
                <a href="Catalog.html">Catalog</a>
            </div>
        </header>
    </div>


    <!-- Background Pictures  Jiahao Zhang
        <div class = "Background-Pictures">
            <img src= "under.jpg" >
        </div>

        <div class = "Background-Pictures">
            <img src= "under.jpg" >
        </div>  -->

    <!-- popular products on welcome page #26 Xueping Leng-->
    <table id="container" cellspacing="45px">
        <tr>
            <td>


                <img src="Sample.jpg" width="300px" height="300px"><br> LI-NING - Hoodie - White<br> Price: $100


            </td>
            <td>
                <br><br><br><br>
                <img src="airpods.jpg" width="150px" height="150px"><br><br>Apple - AirPods Pro - White<br> Price: $199



            </td>
            <td>

                <br><br><br> <br>
                <img src="nike.jpg" width="300px" height="150px"><br><br> Nike ZoomX Invincible Run Flyknit <br> Price: $180


            </td>
            <td>
                <br><br>
                <img src="iPad.jpg" width="175px" height="210px"><br><br> Apple iPad(10.2-inch,128GB) Space Gray <br> Price: $399
            </td>
        </tr>
    </table>
    <table id="container" cellspacing="45px">
        <tr>
            <td>
                <img src="XboxGiftCard.jpg" width="200px" height="300px"><br><br> $10 Xbox Gift Card [Digital Code]<br> Price: $10
            </td>

            <td>
                <img src="HDMICable.jpg" width="300px" height="300px"><br> <br>PowerBear 4K HDMI Cable 10 ft<br> Price: $9.99
            </td>

            <td>
                <img src="Kindle.jpg" width="300px" height="300px"><br><br> Kindle Paperwhite<br> Price: $129.99
            </td>

            <td>

                <img src="iphoneXR.jpg" width="350px" height="300px"><br><br> Apple iPhone XR (128GB, Black)<br> Price: $549
            </td>

        </tr>
    </table>

</body>



</html>