<!DOCTYPE html>
<html>
<link rel="stylesheet" href="style.css">
<title>Login Page</title>

<head>
    <meta charset="UTF-8">

</head>

<body id="login">
    <br><br><br> Login <br><br><br>


    <form id="loginContainer">
        <label>username:</label>
        <input type="text"> <br><br>


        <label>password:</label>
        <input type="Password"> <br><br>


        <button class="button" type="button" onclick="alert('Login script has not been implemented')"> Log in </button>
        <!-- after login script implemented, the alert message should be removed-->

    </form>
</body>

</html>