<!DOCTYPE html>
<html>
<link rel="stylesheet" href="style.css">
<title>Login Page</title>

<head><script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-3974203-1', 'auto'); ga('send', 'pageview');</script>
    <meta charset="UTF-8">

</head>

<body id="login">

    <br><br><br> Login <br><br><br>

    <form action="login.php" method="POST">

        <label for="username"><b>Username</b></label>

        <input type="text" placeholder="Enter your Username" name="username" required> <br><br>


        <label for="password"><b>Password</b></label>
        <input type="Password" placeholder="Enter your Password" name="password" required>
        <br><br>


        <button type="submit"> Log in </button>
        <p>
            <a href="sign up.html">Don't have an account yet? Sign Up Here!</a>
        </p>
    </form>
</body>


</html>