/* Jiahao Zhang  &&*/

html {
    font-size: 100%;
    box-sizing: border-box;
}


/* Xueping Leng && */

body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif
}

#container {
    padding-top: 50px;
    padding-bottom: 50px;
}

#login {
    margin: auto;
    background-image: url(Login_background.jpg);
    text-align: center;
}

#loginContainer {
    width: 400px;
    overflow: hidden;
    margin: auto;
    padding: 50px;
    background: #e6e6c9;
    border-radius: 1px;
    font-size: 80%;
}


/* Devon Wang && */

.Main-Website {
    grid-template-areas: 'header' 'main';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100;
}

header {
    grid-area: header;
    padding: 1rem;
    background-color: #203040;
}

a:hover {
    color: white;
}

a {
    color: red;
}


/* Zhijie Xu */

.Background-Pictures {
    background-image: url('under.jpg');
    background-position: center;
}

.rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
}


/* top navigation/search bar Devon Wang */


/* Add a black background color to the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Style the "active" element to highlight the current page */

.topnav a.active {
    background-color: #2196F3;
    color: white;
}


/* Style the search box inside the navigation bar */

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}


/* The sidepanel menu Devon Wang */

.sidepanel {
    height: 250px;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: white;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
}


/* The sidepanel links */

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidepanel a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style the button that is used to open the sidepanel */

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(10, 99, 172);
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}